::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.877); 
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: rgb(67, 128, 185); 
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(41, 76, 170); 
}

h1{
    color:rgb(17, 127, 179)
}

.titulo {
    padding:15px;
}

p{
    padding:3px;
}

h3{
    font-size: 18px;
}

h2{
    font-size:24px;
    color: rgb(73, 178, 226);
}

.galeria img{
    border-radius: 30px;
    transition: 0.6s;
}
.galeria img:hover{
    transform: scale(1.1);
}

.col-md-4 {
    margin-top: 20px;
    margin-bottom: 20px;}

 .col-md-6{
    top:30px;
    }

